.comment {
  display: grid;
  grid-template-areas:
    "info comment delete"
    "timestamp comment delete";
  grid-template-columns: min-content auto min-content;

  .author {
    grid-area: info;
    font-size: 1.2rem;
    line-height: 1.2rem;
    justify-content: center;
    align-items: center;
    position: relative;
    span {
      border: 1px solid white;
      height: 1.5rem;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      border-radius: 100%;
      margin-right: 1rem;
      overflow: hidden;
    }
    &.isNew::after {
      content: "";
      position: absolute;
      width: 85%;
      height: 100%;
      left: 0;
      top: 50%;
      transform: translate(-5%, -55%);
      border-radius: 0.2rem;
      background-color: red;
      z-index: -1;
      opacity: 50%;
    }
  }

  .body {
    grid-area: comment;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 80%;
      width: 1px;
      left: -0.4rem;
      top: 0;
      transform: translateY(10%);
      border-left: 1px dashed rgba(255, 255, 255, 0.3);
    }
  }

  .deleteBtnContainer {
    grid-area: delete;
    button {
      padding: 0.2rem 0.4rem;
    }
    img {
      width: 1rem;
      height: 1rem;
      max-inline-size: initial;
      filter: invert(1);
    }
  }
}

.commentContainer {
  & + & {
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.349);
  }
}
.deleteConfirmControls {
  display: flex;
  justify-content: space-around;
  #confirmDeleteBtn {
    background-color: rgb(163, 0, 0);
  }
}
