.form_input {
  margin-block: 0.2rem;
}
.form_input > label {
  display: flex;
}
.form_input > label > span {
  display: block;
  flex: 1;
}
label > input,
label > textarea {
  background-color: grey;
  border-radius: 0.2rem;
  margin-left: 1rem;
  display: block;
  flex: 1;
}
